{% extends "base.html" %}
{% block content %}
    <div class="main__wrapper">
        {% if quiz_result_exist %}<h1>You have finished this quiz already!Your score: {{ score }}</h1>{% endif %}
        {% if finish %}<h1>Congratulations.Score - {{ score }}</h1>{% endif %}
        <form class="quiz__questions" action="" method="POST">
            {% csrf_token %}
            {% for q in question %}<h1>{{ q.text }}</h1>{% endfor %}
            <div class="choices">
                {% for choice in choices %}
                    <div class="choice">
                        <label for="{{ choice.id }}">{{ choice.text }}</label>
                        <input type="radio" name="choice" value={{ choice.id }} id="{{ choice.id }}">
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="quiz__send-answer">Submit</button>
        </form>
    </div>
{% endblock content %}
